<div>
    <div class="table-container">
        <table mat-table [dataSource]="itemInfoList" class="mat-elevation-z8">
    
            <!--Display Table Header and Column value-->
            <ng-container [matColumnDef]="columnName" *ngFor="let columnName of displayedColumns;">

              
                
            <ng-container *ngIf="columnName == 'Action'; then action else cellData" > </ng-container>

            <ng-template #action>
                <th mat-header-cell *matHeaderCellDef class="action-cell">{{columnName}}</th>
                <td mat-cell *matCellDef="let tableData"  >
                    <div class="edit-button">
                        <i class="fa fa-pencil-square-o" (click)="editItemDetails(tableData)"></i>
                    </div>
                    
                </td>
            </ng-template>
                

            <ng-template #cellData>
                <th mat-header-cell *matHeaderCellDef>{{columnName}}</th>
               


                <td mat-cell *matCellDef="let tableData">{{ tableData[columnName | camelCase] }}</td>
            </ng-template>
                
            </ng-container>
    
            <!-- -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
            <tr mat-row *matRowDef="let dataRow; columns: displayedColumns"></tr>
    
        </table>
    </div>
    
    <mat-paginator [pageSize]="15" [pageSizeOptions]="[10, 15, 25, 100]"></mat-paginator>

</div>

