<div>
    <!--Panel Header-->
    <div class="row title-bar">
        <h2>{{title}}
            <span class="add-button" (click)="displayItemForm()">
                <i class="fa fa-regular fa-plus-square"></i>
            </span>
        </h2>
    </div>

    <!--Pannel Body-->
    <div class="row">
        <!--Table Component-->
        <div class="col">
            <app-view-item-details [itemData]="newItemInfo"
                (editItemData)="editItemDetails($event)"></app-view-item-details>
        </div>
        
        <!-- Form Panel-->
        <div *ngIf="showItemForm" class="formPanel">
            <app-add-item-details (formStatus)=formOpenStatusHandler($event)
                [editItemData]="editItemData"></app-add-item-details>
        </div>
    </div>
</div>